services:
  php-83:
    image: dunglas/frankenphp:php8.3
    container_name: launchpad-php-83
    ports:
      - "8083:8080"
    volumes:
      - ~/Projects:/app/Projects
      - ~/Clients:/app/Clients
      - ./php.ini:/usr/local/etc/php/php.ini:ro
      - ./Caddyfile:/etc/frankenphp/Caddyfile:ro
    restart: unless-stopped
    networks:
      - launchpad

  php-84:
    image: dunglas/frankenphp:php8.4
    container_name: launchpad-php-84
    ports:
      - "8084:8080"
    volumes:
      - ~/Projects:/app/Projects
      - ~/Clients:/app/Clients
      - ./php.ini:/usr/local/etc/php/php.ini:ro
      - ./Caddyfile:/etc/frankenphp/Caddyfile:ro
    restart: unless-stopped
    networks:
      - launchpad

networks:
  launchpad:
    external: true
